<nav> 
    <div class="topnav">


        <%= link_to "Home", :root, class: 'active' %>
        <% if !user_signed_in? %>
            <%= link_to "Sign In", :new_user_session%>
            <%= link_to "Sign Up", :new_user_registration %>
        <% end %>

        <%= link_to "My Collection", :collection_my_collection %> 
        <%= link_to "All Collections", :collection_collections %> 

        <%= link_to "Game Library", games_path%>  
        <% if user_signed_in? %>
            <%= link_to "Sign Out", :destroy_user_session, method: "delete" %>
        <% end %>
    </div>
 </nav>