<nav> 
    <div class="topnav">


        <%= link_to "Home", :root, class: 'active' %>
        <% if !user_signed_in? %>
            <%= link_to "Sign In", :new_user_session%>
            <%= link_to "Sign Up", :new_user_registration %>
        <% end %>

        <a href="#Games Collections">Games Collections</a>
        <a href="#My Collection">My Collection</a>
        <%= link_to "Library", games_path%>  
        <% if user_signed_in? %>
            <%= link_to "Sign Out", :destroy_user_session, method: "delete" %>
        <% end %>
    </div>

    <% if user_signed_in? %>
        <span class="nav-greeting"> <%="Welcome back, #{current_user.username}"%></span>
    <% end %>
 </nav>